@foreach (List<ComicBook> comics in ViewBag.Comics)
{
    <h1 id="monthTitle" onClick="minimise('@comics[0].Month')"><u>@comics[0].Month</u></h1>
    <hr style="border-top: 1px solid black;">
    <div id="@comics[0].Month" class="comicswrapper">
        @foreach (var comic in @comics)
        {
            <div class="comics">
                <a target="_blank" href=@comic.Link>
                <img class="cover" src=@comic.Image><br>
                <p class="day">@comic.Day<p>
                <h2> @comic.SeriesTitle </h2>
                <h4>@comic.Publisher</h4>
                </a>
            </div>
        }
    </div>
}
